@namespace Maincotech.ExamAssistant.Maker.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class">
    <SpaceItem>
        <Dropdown Style="display: inherit; width: inherit;"
                  OverlayClassName="container">
            <Overlay>
                <Menu Class="menu" OnMenuItemClicked="HandleSelectUser">
                    <MenuItem Key="setting">
                        <Icon Type="setting" Theme="outline" />
                        Settings
                    </MenuItem>
                    <!--todo: missing component: menu-divider-->
                    <li Class="ant-dropdown-menu-item-divider"></li>
                    <MenuItem Key="logout">
                        <Icon Type="logout" Theme="outline" />
                        Logout
                    </MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <span class="action account">
                    @if (_currentUser.Avatar.IsNotNullOrEmpty())
                    {
<Avatar Size="small" Class="avatar" Src="@_currentUser.Avatar" Alt="avatar" /> }
                        else
                        {
<Avatar Size="small" Class="avatar" Alt="avatar">@_currentUser.Name.First().ToString().ToUpper()</Avatar>}
                    <span class="name anticon">@_currentUser.Name</span>
                </span>
            </ChildContent>
        </Dropdown>
    </SpaceItem>
</Space>