@inherits FeedbackComponent<AppUserViewModel, bool>

<Form Model="this.Options"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="async(ctx) => await OnFinish(ctx)"
      OnFinishFailed="OnFinishFailed">

    <FormItem Label="Email:">
        <Input name="Email" @bind-Value="context.Email" Placeholder="Please input email" />
    </FormItem>

    <FormItem Label="Password">
        <InputPassword Id="Password" @bind-Value="@context.Password" Placeholder="Please input password" />
    </FormItem>

    <Divider />
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>