@namespace Maincotech.Quizmaker
@inherits LayoutComponentBase

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <AntDesign.Pro.Layout.BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
                                          MenuData="_menuData">
            <RightContentRender>
                <Maincotech.Quizmaker.Components.RightContent />
            </RightContentRender>
            <ChildContent>
                @Body
            </ChildContent>
        </AntDesign.Pro.Layout.BasicLayout>
        <SettingDrawer />
    </Authorized>
    <NotAuthorized>
        @if (!context.User.Identity.IsAuthenticated)
        {
            <RedirectToLogin />
        }
        else
        {
            <Result Status="403"
                    Title="403"
                    SubTitle="Sorry, you are not authorized to access this page.">
                <Extra>
                    <Button Type="primary">Back Home</Button>
                    <a href="/AzureADB2C/Account/SignIn">Log in</a>
                </Extra>
            </Result>
        }
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@code
{
    private MenuDataItem[] _menuData = {};

    [Inject] public HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _menuData = await HttpClient.GetFromJsonAsync<MenuDataItem[]>("data/menu.json");
    }
}